
body {
    background-color:rgb(183, 222, 228);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

img {
    margin: 4%;
    background-color: rgb(78, 212, 230);
    border-radius: 40%;
    padding: 20px;
    height: auto;
}
hr {
    
    border: none;
    border-bottom: dotted;
    width: 30%;
    border-width: 10px;
    color: rgb(78, 212, 230);
    margin: 5%;

}
input {
    width:30%;
    border-style: dashed;
}